<div class="container">
  <aside class="item room-box">
    <ul>
      <li ng-repeat="roomObj in room.rooms"><a ng-click="room.setCurrentRoom(roomObj.$id)">{{ roomObj.$value }}</a></li>
    </ul>
    <div ng-controller="ModalCtrl as modals">
      <button type="button" class="btn" ng-click="modals.open()">New Room</button>
    </div>
  </aside>
  <div class="item messages">
    <div ng-repeat="message in room.currentMessages">
      <p><strong>{{ message.username }}</strong></p>
      <p>{{ message.content }}</p>
    </div>
  </div>
</div>
